body{
  margin: 0;
  font-family: system-ui;
  background-color: #0f002b;
}
.container-fluid{
  width: 100%;
  height: 100vh;
  background-image: url("bg1.png");
  background-position: center;
  background-size: cover;
  padding: 2% 7%;
  color: #fff;
}
/* Navbar */
.navbar {
  padding: 50px 10px 4.5rem;
}

.navbar-brand {
  padding-left: 3%;
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: normal;
}

.nav-item {
  padding: 0 18px;
  /* animation css */
  transition: font-size ease-in-out .1s;
  /* GPU hack for smoothing */
  transform: translateZ(0);
}

.nav-item:hover {
  font-size-adjust: auto;
}

.nav-link {
  font-size: 1rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}
.button {
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #0f002b;
  color: white;
  border: 2px solid #fff;
  border-radius: 20px;
}
.button1:hover {
  background-color: white;
  color: white;
}
.content{
  margin-top: 7%;
  padding-left: 3%;
}
.content h1{
  font-size: 88px;
  margin-bottom: 15px;
}
.content h1 span{
  color: #ff960b;
}
.content p{
  line-height: 22px;
  font-family: "Ubuntu"
  font-size: 16px;
}
.content .exp_btn{
  display: inline-block;
  margin-top: 2%;
  background-color:  #ff960b;
  color: #fff;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  text-decoration: none;
  padding: 15px;
  transition-duration: 0.4s;
  border-radius: 30px;
}
.exp_btn:hover{
  background-color:  #ffcd01;
  color: #fff;
}
.coin-list{
  position: absolute;
  right: 10%;
  bottom: 50px;
  display: flex;
  align-items: center;
}
.coin{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 20px;
  color: #ff960b;
  border: 1px solid #fff;
  padding: 2px 20px;
  border-radius: 8px;
}
.coin img{
  width: 40px;
  margin-right: 10px;
}
.coin h3{
  color: white;
  margin-top: 4px;
}
